.sidebar {
  padding: 24px;
  max-width: 568px;
  width: 100%;
}

.actions {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  margin-top: 24px;
}

.dark {
  background: var(--color-text);
}
